Client Revamp/Service References/NetworkService/Manager_Networker.Containers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager_Networker.Containers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager_Networker.Containers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>