Client Revamp/Service References/NetworkService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Manager_Networker.Containers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_NetworkScan_InputMessage">
    <wsdl:part name="parameters" element="tns:NetworkScan" />
  </wsdl:message>
  <wsdl:message name="IManagerService_NetworkScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetworkScanResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ConnectToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToClient" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ConnectToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToClientResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SendMessageTo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageTo" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SendMessageTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="NetworkScan">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/NetworkScan" message="tns:IManagerService_NetworkScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/NetworkScanResponse" message="tns:IManagerService_NetworkScan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/ConnectToClient" message="tns:IManagerService_ConnectToClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/ConnectToClientResponse" message="tns:IManagerService_ConnectToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/SendMessageTo" message="tns:IManagerService_SendMessageTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/SendMessageToResponse" message="tns:IManagerService_SendMessageTo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NetworkScan">
      <soap:operation soapAction="http://tempuri.org/IManagerService/NetworkScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToClient">
      <soap:operation soapAction="http://tempuri.org/IManagerService/ConnectToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageTo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/SendMessageTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager_Networker/Network/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>